#avatar {
  max-width: 200px;
  border-radius: 50%;
}

.icons {
  font-size: x-large;
  margin: 0px 20px 0px 20px;
  /* color: #fdbb85; */
  color: #8b7c6f;
}
.icons:hover{
  color: #84443b;
}

.project-icon {
  font-size: xx-large;
  margin: 5px;
  color: #84443b;

}

.card {
  opacity: 70%;
}
.card:hover {
  opacity: 100%;
}

h1, h3, p, div, .foot {
  color: #7b5344;
  /* color: #435593; */
}

