@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    @apply w-full h-full bg-stone-100 text-slate-800 dark:bg-slate-800 dark:text-white;
  }
  h1 {
    @apply text-5xl font-black;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  a, button {
    @apply hover:opacity-80;
  }
  a {
    @apply text-teal-700 dark:text-teal-400 hover:underline;
  }
  button {
    @apply rounded p-2 dark:bg-stone-100 dark:text-slate-800 bg-slate-800 text-white;
  }
  main, footer {
    @apply w-full sm:max-w-2xl lg:max-w-3xl mx-auto;
    /* @apply bg-slate-950 text-slate-100; */
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icons {
  font-size: x-large;
  margin: 0px 20px 0px 20px;
}
.icons:hover{
  color: #077187;
}

.project-icon {
  font-size: xx-large;
  margin: 5px;
}

.card {
  opacity: 80%;
}
.card:hover {
  opacity: 100%;
}

.green {
  color: #074F57;
}

.yellow-bg {
  background-color: #ffc821;
}