#avatar {
  max-width: 200px;
  border-radius: 50%;
}

.icons {
  font-size: x-large;
  margin: 0px 20px 0px 20px;
  color: #077187;
}
.icons:hover{
  color: #074F57;
}

.project-icon {
  font-size: xx-large;
  margin: 5px;
}

.card {
  opacity: 80%;
}
.card:hover {
  opacity: 100%;
}

h3 {
  color: #074F57;
  letter-spacing: 3px;
}
